/*This is help with css grid https://mozilladevelopers.github.io/playground/css-grid/02-first-grid/*/
/*Got help with the thickness and elevation of items https://material.io/design/environment/elevation.html#elevation-in-material-design*/
*{
    text-align: center;
    align-content: center;
}
body{
    z-index: 1;
    
}
.gridstyle {
    display: grid;
    grid-gap: 1rem;
    grid-auto-columns: 0.2fr 1fr 0.2fr ;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}
 .header{
    background-color: rgb(38, 38, 255);
    height: 200px;
    margin: 0;
    grid-column: 1 / 4;
    z-index: 5;
    box-shadow: 0px 2px 10px black;
    position: -webkit-sticky;
    position: sticky; top: -25px;
}
ul{
    margin: 24px auto 24px auto;
    padding: 0;
}
li{
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
}
.navhov:hover{
    background-color: rgba(255, 255, 255, 0.486);
    

}
.lpc-1{
    grid-column: 2 / 3;
    margin: auto;
    padding-top: 90px;
}
.lpc-2{
    grid-column: 2 / 3;
    margin: auto;
}
.lpc-3{
    grid-column: 2 / 3;
    margin: auto;
}
.footer{
    grid-column: 2 / 3;
    margin: auto;
}
